<main class="gallery-wrapper">
  <div class="gallery-container">
    <div class="gallery-image" *ngFor="let image of images"
    data-bs-toggle="modal" data-bs-target="#focusImg"
    (click)="focusThisImg(image)">
      <img src="assets/imgs/gallery/{{ image.imgSrc }}" alt="{{ image.imgAlt }}">
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="focusImg">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <img [src]="focusImgSrc" [alt]="focusImgAlt">
      </div>
    </div>
  </div>
</main>