.sidenav-container {
  position: fixed;
  height: 100vh;
  width: 5rem;
  padding: 1.2rem;
  background: var(--coal);
  filter: var(--shadow);
  transition: .3s ease;
  z-index: 2;
}

.sidenav-collapsed {
  width: 15rem;
}

.sidenav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  margin-bottom: 1.2rem;
  border: none;
  font-size: 1.4rem;
  border-radius: .25rem;
  background: none;
  color: var(--smoke);
}

.sidenav-nav {
  display: flex;
  flex-direction: column;
}

.sidenav-item {
  width: 100%;
  margin-bottom: 1.2rem;
}

.sidenav-link {
  display: flex;
  align-items: center;
  height: 2.5rem;
  text-decoration: none;
  color: var(--smoke);
  border-radius: .25rem;
}

.sidenav-link:hover {
  cursor: pointer;
}

.sidenav-link:hover, .active {
  background: var(--smoke);
  color: var(--coal);
}

.sidenav-link-icon {
  font-size: 1.2rem;
  margin: 0 .5rem;
  width: 1.5rem;
  min-width: 1.5rem;
  text-align: center;
}

.sidenav-link-text {
  margin-left: 1.5rem;
  font-size: 1.2rem;
}