<aside class="sidenav-container" [ngClass]="collapsed ? 'sidenav-collapsed' : ''"
*ngIf="visibility.sidenavVisible">
  <!-- toggle button for collapse sidenav -->
  <button class="sidenav-btn" (click)="toggleCollapse()">
    <i class="fa-solid fa-bars"></i>
  </button>
  <nav class="sidenav-nav">
    <div class="sidenav-item">
      <a class="sidenav-link" routerLink="admin/dashboard" routerLinkActive="active" >
        <i class="sidenav-link-icon fas fa-home"></i>
        <div class="sidenav-link-text" *ngIf="collapsed">
          Dashboard
        </div>
      </a>
    </div>
    <div class="sidenav-item">
      <a class="sidenav-link" routerLink="admin/menu-panel" routerLinkActive="active">
        <i class="sidenav-link-icon far fa-clipboard"></i>
        <div class="sidenav-link-text" *ngIf="collapsed">
          Menu
        </div>
      </a>
    </div>
    <div class="sidenav-item">
      <a class="sidenav-link" routerLink="admin/gallery-panel" routerLinkActive="active">
        <i class="sidenav-link-icon far fa-image"></i>
        <div class="sidenav-link-text" *ngIf="collapsed">
          Gallery
        </div>
      </a>
    </div>
    <div class="sidenav-item">
      <a class="sidenav-link" routerLink="admin/user" routerLinkActive="active">
        <i class="sidenav-link-icon fa-regular fa-user"></i>
        <div class="sidenav-link-text" *ngIf="collapsed">
          Users
        </div>
      </a>
    </div>
    <div class="sidenav-item">
      <a class="sidenav-link" routerLink="">
        <i class="sidenav-link-icon fa-solid fa-arrow-right-from-bracket"></i>
        <div class="sidenav-link-text" *ngIf="collapsed">
          Logout
        </div>
      </a>
    </div>
  </nav>
</aside>