<nav class="sidenav-container" *ngIf="visibility.sidenavVisible">
  <div class="sidenav-list">
    <a class="sidenav-item" routerLink="admin/dashboard" routerLinkActive="active" >
      <i class="fa-solid fa-house"></i> Dashboard
    </a>
    <a class="sidenav-item" routerLink="admin/menu-panel" routerLinkActive="active">
      <i class="fa-solid fa-clipboard-list"></i> Menu
    </a>
    <a class="sidenav-item" routerLink="admin/gallery-panel" routerLinkActive="active">
      <i class="fa-solid fa-image"></i> Gallery
    </a>
  </div>
</nav>