.booking-wrapper {
  min-height: 100vh;
  width: 100%;
  background: url('^assets/imgs/menubg.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.booking-container {
  margin-top: 15vh;
  text-align: center;
  width: 60rem;
}

.booking-form i {
  background: var(--white);
  padding-left: .8rem;
  border: .1rem solid var(--black);
}

.personpicker, .datepicker, .timepicker {
  height: 3rem;
  width: 9rem;
  padding: 0 .5rem;
  border: none;
  background: var(--white);
  outline-style: none;  /* for datepicker  */
  position: relative;  /* for datepicker  */
  cursor: pointer;
}

.booking-btn {
  color: var(--smoke);
  background: var(--coal);
  box-shadow: 0 .2rem .5rem var(--black);
  font-size: 1.2rem;
  border: none;
  padding: .6rem 1.2rem;
  margin: .8rem 0;
}

.booking-info {
  background: var(--smoke);
  box-shadow: 0 .2rem .5rem var(--black);
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.booking-opening-hour {
  margin: auto;
}

.booking-opening-hour h2 {
  margin-bottom: 1rem;
}

.booking-opening-hour ul {
  padding: 0;
  list-style: none;
}

.booking-opening-hour li:nth-child(2n-1) {
  text-decoration: underline;
}

.booking-opening-hour li:nth-child(2n) {
  margin-bottom: 1rem;
}

.booking-img {
  height: 25rem;
  width: 25rem;
  box-shadow: 0 .2rem .5rem var(--black);
}

/* Hide default calendar icon from datepicker and resize */
.datepicker::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  margin-left: 0;
  cursor: pointer;
}

/* ===================
    Responsive Design
   =================== */
@media screen and (max-width:710px) {
  .booking-container {
    margin: 0;
  }
  .booking-info {
    margin: 0 0 1rem 0;
    justify-content: center;
    align-items: center;
  }

  .booking-opening-hour {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    padding: 3rem;
  }

  .booking-img {
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .booking-info {
    margin: 5rem 0;
    background: none;
    box-shadow: none;
  }

  .booking-opening-hour {
    padding: 2rem;
    position: relative;
  }

  .booking-img {
    display: none;
  }
}