<nav class="navbar-container">
  <a class="navbar-link" routerLink="/menu">Me<span>n</span>u</a>
  <a class="navbar-link" routerLink="/gallery">Gall<span>e</span>ry</a>
  <a class="navbar-link" routerLink="/home">
    <img class="logo" src="assets/imgs/maneko.png" alt="logo">
  </a>
  <a class="navbar-link" routerLink="/booking">Boo<span>k</span>ing</a>
  <a class="navbar-link" routerLink="/contact">C<span>o</span>ntact</a>
</nav>

<div style="position: absolute; right: 0; margin-right: 20px;">
  <button class="btn btn-primary" routerLink="/admin">Admin</button>
</div>