<main class="menu-panel-wrapper">
  <nav ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <!-- Drinks -->
      <a ngbNavLink>Drinks</a>
      <ng-template ngbNavContent>
        <div class="menu-panel-container">
          <div class="menu-panel-item" *ngFor="let drink of drinks">
            <!-- Product Details -->
            <div class="menu-panel-product">
              <span>{{ drink.name }}</span>
              <span>{{ drink.price | currency }}</span>
            </div>
            <!-- Edit and Delete -->
            <div class="btn-group">
              <button type="button" class="btn btn-warning" (click)="editThisDrink(drink)"
              data-bs-toggle="modal" data-bs-target="#product-modal">
                Edit
              </button>
              <button type="button" class="btn btn-danger" (click)="deleteThisDrink(drink)">
                Delete
              </button>
            </div>
          </div>
          <!-- New Product -->
          <div class="new-product-container">
            <button class="btn btn-primary new-product-btn"
            data-bs-toggle="modal" data-bs-target="#product-modal">
              <i class="fa-solid fa-plus"></i> Add New Product
            </button>
          </div> 
          <!-- Modal -->
          <div class="modal fade" id="product-modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="addNewSupply" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Add New Product</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>                
                <div class="modal-body d-flex justify-content-center">
                  <form [formGroup]="productForm" >
                    <div class="new-product-datas">
                      <label> Name: 
                        <input type="text" formControlName="name" placeholder="Enter the product name">
                      </label>
                      <label> Price: 
                        <input type="text" formControlName="price" placeholder="Enter the price ($)">
                      </label>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-warning" (click)="updateThisDrink()">
                    Update
                  </button>
                  <button type="submit" class="btn btn-success" (click)="addNewDrink()"
                  [disabled]="!productForm.valid">
                    Save
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <!-- Main Dishes -->
      <a ngbNavLink>Main Dishes</a>
      <ng-template ngbNavContent>
      </ng-template>
    </li>
    <li ngbNavItem>
      <!-- Sushi -->
      <a ngbNavLink>Sushi</a>
      <ng-template ngbNavContent>
      </ng-template>
    </li>
    <li ngbNavItem>
      <!-- Desserts -->
      <a ngbNavLink>Desserts</a>
      <ng-template ngbNavContent>
      </ng-template>
    </li>
  </nav>
  <div [ngbNavOutlet]="nav"></div>
</main>