<main class="login-wrapper">
  <form class="login-container">
    <img class="login-logo" src="assets/imgs/logo.png" routerLink="/home" alt="logo">
    <input class="login-input" type="text" placeholder="First Name" required>
    <input class="login-input" type="text" placeholder="Last Name" required>
    <input class="login-input" type="email" placeholder="Email" required>
    <input class="login-input" type="password" placeholder="Password" required>
    <input class="login-input" type="password" placeholder="Confirm Password" required>
    <button class="login-btn btn btn-primary">Register</button>
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </form>
</main>