<!-- Top Page -->
<section class="about-top">
  <div class="content-top">
    <img class="img-top" src="assets/imgs/about_img1.jpg">
    <div class="text-top">
      <h1>About Title</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et assumenda odio tempore magni quo, corporis nobis
        minus eaque consequatur. Ducimus placeat illum minus tempora sit! Illum eius quia ut debitis.
        Deleniti repudiandae, dolorum officiis reiciendis alias maiores sunt nulla? Ipsum earum neque consequatur vitae
        id! Soluta, rem possimus facilis dolor aspernatur cupiditate totam sint vitae placeat corporis, modi ipsa
        asperiores.
        Modi, molestiae ex! Adipisci ad rerum eligendi neque quisquam nostrum nulla ullam ex harum nobis vel, facilis
        eveniet non provident dolorum ipsum eos repudiandae fugit esse iure aspernatur fugiat consequuntur?
        Ad, magni consectetur! Est, harum vitae. Molestiae atque amet sit ratione delectus numquam cumque odio sunt
        sequi voluptas facere recusandae quibusdam ducimus ut, nam quod. Sunt natus laboriosam aliquam vero?</p>
    </div>
  </div>
</section>
<!-- Bottom Page -->
<section class="about-bottom">
  <div class="content-bottom">
    <img class="img-bottom" src="assets/imgs/about_img2.jpg">
    <div class="text-bottom">
      <h1>About Title</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et assumenda odio tempore magni quo, corporis nobis
        minus eaque consequatur. Ducimus placeat illum minus tempora sit! Illum eius quia ut debitis.
        Deleniti repudiandae, dolorum officiis reiciendis alias maiores sunt nulla? Ipsum earum neque consequatur vitae
        id! Soluta, rem possimus facilis dolor aspernatur cupiditate totam sint vitae placeat corporis, modi ipsa
        asperiores.
        Modi, molestiae ex! Adipisci ad rerum eligendi neque quisquam nostrum nulla ullam ex harum nobis vel, facilis
        eveniet non provident dolorum ipsum eos repudiandae fugit esse iure aspernatur fugiat consequuntur?
        Ad, magni consectetur! Est, harum vitae. Molestiae atque amet sit ratione delectus numquam cumque odio sunt
        sequi voluptas facere recusandae quibusdam ducimus ut, nam quod. Sunt natus laboriosam aliquam vero?</p>
    </div>
  </div>
</section>