<div class="navbar-wrapper" *ngIf="visibility.navbarVisible">
  <input class="navbar-toggle" id="navbar-toggle" type="checkbox">
  <nav class="navbar-container">
    <img class="navbar-logo" src="assets/imgs/logo.png" alt="logo">
    <a class="navbar-link" routerLink="/home">
      Ho<span>m</span>e
    </a>
    <a class="navbar-link" routerLink="/about">
      <span>A</span>bout
    </a>
    <a class="navbar-link" routerLink="/menu" routerLinkActive="active">
      Me<span>n</span>u
    </a>
    <a class="navbar-link" routerLink="/gallery" routerLinkActive="active">
      Gall<span>e</span>ry
    </a>
    <a class="navbar-link" routerLink="/booking" routerLinkActive="active">
      Boo<span>k</span>ing
    </a>
    <a class="navbar-link" routerLink="/contact" routerLinkActive="active">
      C<span>o</span>ntact
    </a>
    <a class="navbar-login" *ngIf="!this.authService.isLoggedIn()"
    routerLink="/login" routerLinkActive="active">
      Log<span>in</span>
    </a>
    <!-- User interface after logged in -->
    <div class="dropdown" *ngIf="this.authService.isLoggedIn()">
      <i class="fa-regular fa-circle-user" data-bs-toggle="dropdown"></i>
      <ul class="dropdown-menu">
        <li class="ps-3">
          Hello, {{ this.authService.user.firstName }}!
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
          <a class="dropdown-item" routerLink="/profile">Profile</a>
        </li>
        <li *ngIf="this.authService.user.access === 'admin'">
          <a class="dropdown-item" routerLink="/admin/dashboard">Admin Panel</a>
        </li>
        <li>
          <button class="dropdown-item" (click)="this.logout()">
            <i class="sidenav-link-icon fa-solid fa-arrow-right-from-bracket"></i>Logout
          </button>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Navbar Collapse Button -->
  <label for="navbar-toggle" class="navbar-toggle-btn">
    <i class="fa-solid fa-bars"></i>
  </label>
</div>