<nav class="navbar-container" *ngIf="nav.visible">
  <a class="navbar-link" routerLink="/home">
    <img src="assets/imgs/logo.png" alt="logo">
  </a>
  <a class="navbar-link" routerLink="/menu" routerLinkActive="active">
    Me<span>n</span>u
  </a>
  <a class="navbar-link" routerLink="/gallery" routerLinkActive="active">
    Gall<span>e</span>ry
  </a>
  <a class="navbar-link" routerLink="/booking" routerLinkActive="active">
    Boo<span>k</span>ing
  </a>
  <a class="navbar-link" routerLink="/contact" routerLinkActive="active">
    C<span>o</span>ntact
  </a>
</nav>

<!-- Temporary button, it will be replace with login/register -->
<div style="position: absolute; right: 0; top: 20px; margin-right: 20px; z-index: 2;">
  <button class="btn" (click)="navigateTo()"
  [ngClass]="isClicked ? 'btn-danger' : 'btn-primary'">
  {{ isClicked ? 'AdmOut' : 'AdmIn'}}
  </button>
</div>