.navbar-wrapper {
  width: 100%;
  height: 15vh;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 3rem;
}

.navbar-link {
  padding: 10px;
  font-size: 1.7em;
  font-weight: bold;
  font-family: Hirokawa;
  text-decoration: none;
  cursor: pointer;
  color: var(--white);
  filter: var(--shadow);
}

.navbar-link:hover,
.navbar-login:hover {
  color: var(--golden);
}

.navbar-container span {
  color: var(--red);
}

.active {
  color: var(--golden);
}

.navbar-login {
  padding: 10px;
  font-size: 1.7em;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: var(--white);
  filter: var(--shadow);
  margin-left: auto;
}

/* ========================
    Navbar Collapse Button
   ======================== */
.navbar-toggle {
  display: none;
}

.navbar-toggle:checked ~ nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-toggle-btn {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  display: none;
  filter: var(--shadow);
}

.navbar-toggle-btn i {
  font-size: 2rem;
  color: var(--smoke);
  cursor: pointer;
}

/* ===================
    Responsive Design
   =================== */
@media screen and (max-width: 980px) {
  .navbar-toggle-btn {
    display: block;
  }

  .navbar-wrapper {
    display: block;
  }

  .navbar-container {
    display: none;
    background: rgba(0, 0, 0, .7);
    height: 100vh;
    width: 14rem;
    padding: 1rem;
    box-shadow: 0 .2rem .5rem var(--black);
  }

  .navbar-logo {
    opacity: 0;
  }

  .navbar-login {
    margin-left: 0;
    margin-top: auto;
  }
}