.navbar-container {
  position: fixed;
  height: 15vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.navbar-link {
  padding: 10px;
  font-size: 2em;
  font-weight: bold;
  font-family: Hirokawa;
  text-decoration: none;
  cursor: pointer;
  color: var(--smoke);
  filter: var(--shadow);
}

.navbar-link:hover {
  color: var(--golden);
}

.navbar-container .navbar-link span {
  color: var(--red);
}

.navbar-container .active {
  color: var(--golden);
}