<main id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <!-- First -->
    <section class="carousel-item active" data-bs-interval="8000">
      <div class="carousel-img-one">
        <div class="carousel-title">
          <img class="carousel-label">
          <div class="carousel-text">
            <h1>Maneko Restaurant</h1>
            <h4>&</h4>
            <h3>Sushi Bar</h3>
          </div>
        </div>
      </div>
    </section>
    <!-- Second -->
    <section class="carousel-item" data-bs-interval="8000">
      <div class="carousel-img-two"></div>
    </section>
    <!-- Third -->
    <section class="carousel-item" data-bs-interval="8000">
      <div class="carousel-img-three"></div>
    </section>
  </div>
  <button class="carousel-control-prev" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</main>