<main id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <section class="carousel-item active" data-bs-interval="8000">
      <div class="carousel-img-one"></div>
      <div class="container">
        <h3>First</h3>
      </div>
    </section>
    <section class="carousel-item" data-bs-interval="8000">
      <div class="carousel-img-two"></div>
      <div class="container">
        <h3>Second</h3>
      </div>
    </section>
    <section class="carousel-item" data-bs-interval="8000">
      <div class="carousel-img-three"></div>
      <div class="container">
        <h3>Third</h3>
      </div>
    </section>
  </div>
  <button class="carousel-control-prev" data-bs-target="#myCarousel"
  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" data-bs-target="#myCarousel"
  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</main>

