.carousel-item {
  position: relative;
  height: 100vh;
  color: white;
}

.carousel-img-one {
  background: url('^assets/imgs/carousel_img_1.jpg');
}
.carousel-img-two {
  background: url('^assets/imgs/carousel_img_2.jpg');
}
.carousel-img-three {
  background: url('^assets/imgs/carousel_img_3.jpg');
}
.carousel-img-one, .carousel-img-two, .carousel-img-three {
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: cover;
  display: flex;
}

.carousel-title {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-label {
  height: 20rem;
  width: 40rem;
  max-width: 100%;
  position: relative;
  content: url('^assets/imgs/carousel_label.png');
  filter: var(--shadow);
}

.carousel-text {
  text-align: center;
  position: absolute;
  margin-bottom: 2rem;
  filter: var(--shadow);
  font-family: Hirokawa;
}

.carousel-text h1, .carousel-text h3 {
  color: var(--smoke);
}

.carousel-text h4 {
  color: var(--golden);
}