.menu-wrapper {
  min-height: 100vh;
  background: url('^assets/imgs/menubg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.menu-drink,
.menu-mainDish,
.menu-sushi,
.menu-dessert {
  display: flex;
  padding-bottom: 14vh;
  justify-content: center;
  background: inherit;
}

.menu-drink {
  padding-top: 22vh;
}

.menu-list {
  min-height: 75vh;
  width: 60rem;
  padding: 5rem 1.6rem;
  background: var(--black);
  color: var(--smoke);
  filter: var(--shadow);
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  width: 33%;
  padding: 0 20px 30px;
  display: flex;
  justify-content: space-between;
  border-right: 2px solid var(--red);
}

.menu-title {
  position: absolute;
  width: 20rem;
  max-width: 100%;
  top: -25px;
  left: 0;
  background: var(--red);
  text-align: center;
  padding: .5rem 0;
}

.menu-title h2 {
  margin: 0;
  letter-spacing: 3px;
  filter: var(--shadow);
  font-weight: 700;
}

.menu-img-drink {
  right: 10px;
  bottom: -50px;
  position: absolute;
}

.menu-img-mainDish {
  right: 10px;
  bottom: -60px;
  position: absolute;
}

.menu-img-sushi {
  right: 0;
  bottom: -70px;
  position: absolute;
}

.menu-img-dessert {
  right: 0;
  bottom: -80px;
  position: absolute;
}

/* ===================
    Responsive Design
   =================== */
@media screen and (max-width: 900px) {
  .menu-item {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .menu-item {
    width: 100%;
  }

  .menu-list img {
    display: none;
  }
}