<main class="menu-wrapper">
  <!-- Drinks -->
  <section>
    <div class="menu-list">
      <div class="menu-item" *ngFor="let drink of drinks">
        <span>{{ drink.name }}</span>
        <span>{{ drink.price | currency }}</span>
      </div>
      <div class="menu-title">
        <h2>Drinks</h2>
      </div>
      <img class="menu-img-drink" src="assets/imgs/drink.png" alt="drink">
    </div>
  </section>
  <!-- Main Dishes -->
  <section>
    <div class="menu-list">
      <div class="menu-item" *ngFor="let mainDish of mainDishes">
        <span>{{ mainDish.name }}</span>
        <span>{{ mainDish.price | currency }}</span>
      </div>
      <div class="menu-title">
        <h2>Main Dishes</h2>
      </div>
      <img class="menu-img-maindish" src="assets/imgs/maindish.png" alt="maindish">
    </div>
  </section>
  <!-- Sushi -->
  <section>
    <div class="menu-list">
      <div class="menu-item" *ngFor="let sushi of sushi">
        <span>{{ sushi.name }}</span>
        <span>{{ sushi.price | currency }}</span>
      </div>
      <div class="menu-title">
        <h2>Sushi</h2>
      </div>
      <img class="menu-img-sushi" src="assets/imgs/sushi.png" alt="sushi">
    </div>
  </section>
  <!-- Desserts -->
  <section>
    <div class="menu-list">
      <div class="menu-item" *ngFor="let dessert of desserts">
        <span>{{ dessert.name }}</span>
        <span>{{ dessert.price | currency }}</span>
      </div>
      <div class="menu-title">
        <h2>Desserts</h2>
      </div>
      <img class="menu-img-dessert" src="assets/imgs/dessert.png" alt="dessert">
    </div>
  </section>
</main>