h2 {
  margin: 0;
  padding: 10px 60px 10px 10px;
  letter-spacing: 3px;
  filter: var(--shadow);
}

.menu-wrapper {
  display: flex;
  height: 100vh;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  background: url('^assets/imgs/menubg.jpg');
  background-size: cover;
  background-position: center;
}

section {
  display: flex;
  padding-top: 15vh;
  padding-bottom: 10vh;
  min-width: 100vw;
  justify-content: center;
  scroll-snap-align: start;
}

.menu-list {
  position: relative;
  min-height: 70vh;
  width: 75vw;
  padding: 30px;
  background: var(--black);
  color: var(--smoke);
  filter: var(--shadow);
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  width: 33%;
  padding: 0 20px 30px;
  display: flex;
  justify-content: space-between;
  border-right: 2px solid var(--red);
}

.menu-title {
  position: absolute;
  bottom: -25px;
  right: 30px;
  background: var(--red);
  transform: skewX(-20deg);
}

.menu-img-drink {
  right: -30px;
  bottom: -50px;
}

.menu-img-maindish {
  right: -100px;
  bottom: -60px;
}

.menu-img-sushi {
  right: -130px;
  bottom: -70px;
}

.menu-img-dessert {
  right: -100px;
  bottom: -80px;
}

.menu-img-drink,
.menu-img-maindish,
.menu-img-sushi,
.menu-img-dessert {
  position: absolute;
}

/* Hide scrollbar */
*::-webkit-scrollbar {  /* Chrome, Safari and Opera */
  display: none;
  background: transparent;
}
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}