<main class="contact-wrapper">
  <div class="contact-container">
    <section class="contact-form">
      <h2>Send a Message</h2>
      <div class="contact-adress">
        <label for="first-name" class="form-label">First Name
          <input type="text" class="form-control" id="first-name">
        </label>
        <label for="last-name" class="form-label">Last Name
          <input type="text" class="form-control" id="lastname">
        </label>
        <label for="email-adress" class="form-label">Email Address
          <input type="email" class="form-control" id="email-adress" placeholder="name@example.com">
        </label>
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Write your message here</label>
        <textarea class="form-control" id="message" rows="3"></textarea>
      </div>
      <button class="btn send-btn">Send</button>
    </section>
    <section class="contact-details">
      <ul class="info">
        <li>
          <span><i class="fa-solid fa-location-dot"></i></span>
          <span>
            2516 Katharine St<br>
            London, UK
          </span>
        </li>
        <li>
          <span><i class="fa-solid fa-envelope"></i></span>
          <span>
            maneko@lorem.com
          </span>
        </li>
        <li>
          <span><i class="fa-solid fa-phone"></i></span>
          <span>
            +65 20 8223 1012
          </span>
        </li>
      </ul>
      <ul class="media">
        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-instagram-square"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
      </ul>
    </section>
  </div>
</main>