/* Fonts */
@font-face {
  font-family: Hirokawa;
  src: url(assets/fonts/Hirokawa.ttf) format('truetype');
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --black: #000000;
  --red: #ff0000;
  --golden: #ffdf00;
  --smoke: #f5f5f5;

  /* Styles */
  --shadow: drop-shadow(0 0 0.1rem var(--black));
}

/* Hide scrollbar */
*::-webkit-scrollbar {  /* Chrome, Safari and Opera */
  display: none;
  background: transparent;
}
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Content */
app-navbar {
  position: fixed;
  width: 100vw;
  height: 11vh;
  margin-top: 20px;
  display: flex;
  background: transparent;
  z-index: 10;
}

app-menu {
  width: 100%;
  height: 100vh;
}

app-gallery {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #202020;
  color: white;
}

app-booking {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #303030;
  color: white;
}

app-contact {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #404040;
  color: white;
}