/* Fonts */
@font-face {
  font-family: Hirokawa;
  src: url(assets/fonts/Hirokawa.ttf) format('truetype');
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --black: #000000;
  --red: #ff0000;
  --golden: #ffdf00;
  --smoke: #f5f5f5;
  --coal: #36454f;

  /* Styles */
  --shadow: drop-shadow(0 0 0.1rem var(--black));
}

app-dashboard, app-menu-panel, app-gallery-panel {
  display: block;
  height: 100vh;
  width: 100vw;
  background: var(--smoke);
}